<div class="container">
  <%# params[:teacher_id] %>
  <h4> Teacher: <%= @teacher.user.first_name %> <%= @teacher.user.last_name %>, id: <%= @teacher.id %> </h4>
  <%#<%= params[:teacher_id.time_cost_per_hour] %>
  <h4> Student: <%= current_user.first_name %> <%= current_user.last_name %>, id: <%= current_user.id %> </h4>
    <%=  simple_form_for [@teacher, @booking] do |f| %>
      <%# <%= f.input :student_id %>
      <%# <%= f.input :teacher_id %>
      <%= f.input :status %>
      <%= f.input :date %>
      <%= f.input :place %>
      <%= f.input :time_starting %>
      <%= f.input :time_ending %>
      <%= f.input :rating_student %>
      <%= f.input :cost %>
      <%= f.input :online %>
      <%# <%= f.association :student, collection: Student.all  %> 
      <%= f.submit "submit" %>
      <%# class: "custom-btn btn-3" %>
    <% end %>

</div>
<%# Booking.create!(student_id: 1, teacher_id: 1, online: true, place: "mi casa", status: true, date: '1/1/22', time_starting: '1/1/22 %1:01:00', time_ending: '1/1/22 %1:02:00', rating_student: 4 , cost: 20000) %>
 <%# t.boolean "online"
    t.string "place"

    t.date "date"
    t.time "time_starting"
    t.time "time_ending"
    t.integer "rating_student"
    t.integer "cost"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["student_id"], name: "index_bookings_on_student_id"
    t.index ["teacher_id"], name: "index_bookings_on_teacher_id" %>
