<div class="container">
<%# params[:teacher_id] %>
<h4> Teacher: <%= @teacher.user.first_name %> <%= @teacher.user.last_name %>, id: <%= @teacher.id %> </h4>
<%#<%= params[:teacher_id.time_cost_per_hour] %>
<h4> Student: <%= current_user.first_name %> <%= current_user.last_name %>, id: <%= current_user.id %> </h4>
<%#<%= raise %>
  <%=  simple_form_for  [@booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :place %>
    <%= f.input :time_starting %>
    <%= f.input :time_ending %>
    <%= f.input :online %>
    <%= f.submit "submit" %>
<%# class: "custom-btn btn-3" %>
  <% end %>

</div>


 <%# t.boolean "online"
    t.string "place"

    t.date "date"
    t.time "time_starting"
    t.time "time_ending"
    t.integer "rating_student"
    t.integer "cost"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["student_id"], name: "index_bookings_on_student_id"
    t.index ["teacher_id"], name: "index_bookings_on_teacher_id" %>
