<div class="encabezado"></div>
  <div class="content">
    <h1>Teacher's information</h1>
    <div class="separator"></div>

  </div>
<div class="s-4">
      <h1>Who is your teacher?</h1>
      <h6> <strong>Teacher:</strong> <%= @teacher.user.first_name %> <%= @teacher.user.last_name %> </h6>
      <h6> <strong>Description:</strong> <%= @teacher.description%> </h6>
      <h6> <strong>Rating:</strong> <%= @teacher.rating%> </h6>
      <h6> <strong>Specialty:</strong> <%= @teacher.subject%> </h6>
      <h6> <strong>Cost time per hour:</strong> <%= @teacher.time_cost_per_hour%> </h6>
      <%# if current_user.student.id == nil %>
        <p>You must complete your student profile </p>
      <%# else %>
        <%= link_to "Book now", new_teacher_booking_path(@teacher), class: "custom-btn btn-3_P" %>
      <%# end %>
      </div>
</div>
